@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
}

body {
	font-family: 'Roboto';
	font-size: 12px;
	background: linear-gradient(180deg, rgba(245, 245, 250, 0.15) 6.08%, #FCFCFE 100%);
}

a, a:link, a:visited {
    outline: none;
	text-decoration: none;	
	transition: all .3s ease-in-out;
}

img {
	border: none;
	margin: 0px;
}


h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

h3, h4, h5, h6 {
	font-size: .9em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}

form, input, select, textarea, p {
	margin: 0px;
	padding: 0;
}

textarea {
	resize: none;
}

input:focus, textarea:focus {
	outline: none;
}

input::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section, time {  
	display: block; 
	margin: 0px;
	padding: 0; 
} 

.customClear {
	clear: both;
	font-size: 0em;
	line-height: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.overlay {
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

.modal_wrapper {
	width: 100%;
	position: absolute;
	padding-top: 50px;
	top: 0;
	left: 0;
	z-index: 1001;
	display: none;
}


/*IE below 9*/
#ieWrapper {
	background: #000;
	position: fixed;
	z-index: 100;
	top: 0;	left: 0;
	width: 100%;
	height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ieHolder {
	position: relative; 
	width: 555px;
	padding: 20px;
	margin: 200px auto 0 auto;
	background: #FFF;
	border: 7px solid #2b2927;
}

.btnIeUpdate {
	background: url(../images/btnIeUpdate.jpg) 0 0 no-repeat;
	width: 144px;
	height: 37px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.ieLogo {
	float: left;
	width: 134px;
	height: 139px;
	background: url(../images/ieLogo.jpg) no-repeat 0 0;
}

.ieContent {
	float: right;
	margin: 0;
	padding: 0;
	width: 400px;
	color: #666;
	font-size: 15px;
	line-height: 18px;
}

.ieContent strong {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #cccccc;
	display: block;
	font-size: 18px;
	color: #333;
	font-weight: normal;
}

a,button,div {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

* {
	box-sizing: border-box;
}

/*End IE below 9*/
#container {
	background: url(../images/bgDolor.png) no-repeat top right;
	width: 100%;
	min-height: 1500px;
}


.flex {
	display: flex;
	flex-flow: row nowrap;
}

.page-center {
	max-width: 1113px;
	width: 100%;
	margin: 0 auto;
}


.main-header .page-center {
	background: url(../images/bgHeaderPolygon.png) no-repeat 20px 0;
	padding: 30px 0 0;
	min-height: 108px;
	align-items: center;
}

.main-nav {
	max-width: 557px;
	width: 100%;
	justify-content: space-between;
	margin: 0 0 0 121px;
}

.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav li {
	font-size: 18px;
	font-weight: 500;
}

.main-nav li a {
	color: #333;
}

.main-nav li a:hover, .main-nav li.active a {
	color: #107EC3;
}

.main-nav ul li:not(:last-child) {
	margin-right: 35px;
}

.btn-signup {
	font-size: 18px;
	font-weight: 500;
	color: #107EC3;
	border-radius: 8px;
	border: 1.5px solid #3E9FE3;
	margin-left: 43px;
	padding: 15px 21px 13px 22px;
	max-width: 111px;
	width: 100%;
	display: block;
}

.btn-signup:hover {
	color: #FFF;
	background: #3E9FE3;
}

.pricing-info-wrapper {
	margin:62px 0 0;
}

.pricing-info-wrapper .page-center figure {
	position: relative;
}

.pricing-info-wrapper .page-center figure::before {
	background: url(../images/bgOrangeCircle.png) no-repeat center center;
	content: "";
	width: 35px;
	height: 35px;
	position: absolute;
	bottom: 13px;
	left: -85px;
	display: block;
}

.pricing-info-wrapper article {
	padding: 31px 0 0;
}

.pricing-info-wrapper h1 {
	font-size: 60px;
	font-weight: 700;
	color: #333;
}

.pricing-info-wrapper h2 {
	font-size: 32px;
	color: #303030;
	font-weight: 500;
	padding: 21px 0 0;
	display: block;
}

.pricing-info-wrapper p {
	font-size: 24px;
	line-height: 35px;
	list-style: none;	
	color: #3D3D3D;
	font-weight: 400;
	padding: 17px 0 0;
	display: block;
}

.volume-discount-wrapper {
	background: url(../images/bgVolumePolygon.png) no-repeat 0 0, url(../images/bgPremiumPolygon.png) no-repeat right 94%;
	margin: 30px 0 0;
	padding:  90px 0 0;
}

.volume-discount-wrapper h2 {
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	color: #091133;
	margin: 0 0 23px;
	display: block;
}

.tab-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	max-width: 446px;
	width: 100%;
	border: 1px solid #D7DCF0;
	border-radius: 22px;
	justify-content: space-between;
	margin: 0 auto;
}

.tab-nav li {
	font-size: 16px;
	font-weight: 700;
	position: relative;
}

.tab-nav li a {
	text-align: center;
	color: #070707;
	padding: 12px 24px;
	border-radius: 22px;
	min-width: 111px;
	display: block;
}

.tab-nav li a:hover, .tab-nav li.active a {
	color: #FFF;
	background: #3e9fe3;
	border-radius: 22px;
	height: 100%;
	box-shadow: 0px 5px 7px rgba(82, 67, 194, 0.230196);
	border-radius: 22px;
}

.tab-nav span {
	font-size: 22px;
	color: #3D3D3D;
	text-align: center;
	margin: 22px 0 0;
	display: block;
}

.tab-content {
	max-width: 630px;
	width: 100%;
	margin: 79px auto 0;
	display: none;
}

.tab-content .flex {
	justify-content: space-between;
}

.price-list-holder {
	max-width: 292px;
	width: 100%;
	border-radius: 26px;
	margin: 0 0 0 18px;
	padding: 40px 0 0 20px;
	position: relative;
}

.price-list-holder::before {
	content: attr(data-badge);
	font-size: 12px;
	font-weight: 700;
	color: #FFA900;
	background: #fff6e5;
	padding: 6px 20px 7px;
	border-radius: 13.5px;
}

.price-tag {
	font-size: 36px;
	color: #231D4F;
	font-weight: 900;
	margin: 26px 0 0;
}

.price-tag span {
	font-size: 17px;
	font-weight: 500;
	color: #848199;
}

.txt-unlimited {
	font-size: 17px;
	font-weight: 500;
	margin: 2px 0 0;
	color: #3E9FE3;
	display: block;
}

.price-list-holder h3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 23px;
	color: #231D4F;
	margin: 20px 0 0;
}

.price-list-holder ul {
	margin: 0 0 0 0;
	padding: 22px 0 0;
	list-style: none;
}

.price-list-holder li {
	font-size: 15px;
	font-weight: 500;
	color:#848199;
	line-height: 17px;
	margin: 0 0 13px;
	padding: 0 0 0 30px;
	position: relative;
}

.price-list-holder li::before {
	content: "";
	background: rgba(82, 67, 194, 0.1)  url(../images/iconTick.png) no-repeat center center;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 100%;
}

.icon-close::before {
	background-image: url(../images/iconClose.png)!important;
}

.premium {
	background: #3E9FE3 url(../images/bgPremium.png) no-repeat 143% top;
	color: #FFF;
	margin: 0 0 0 2px;
	padding: 53px 0 48px 32px;
	box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
}

.premium .price-tag, .premium .price-tag span, .premium li, .price-list-holder.premium h3 {
	color: #FFF;
}

.price-list-holder.premium li::before, .premium .btn-price-signup {
	background-color: #FFF;
}

.btn-price-signup {
	font-size: 15px;
	font-weight: 900;
	color: #3E9FE3;
	text-align: center;
	background: #e2f1fb;
	max-width: 231px;
	width: 100%;
	margin: 56px 0 0;
	padding: 14px 0 13px;
	border-radius: 8px;
	display: block;
}

.btn-price-signup:hover {
	color: #FFF;
	background-color: #3E9FE3;
}

.premium .btn-price-signup {
	margin: 45px 0 0;
}


.premium .btn-price-signup:hover {
	color: #FFF;
	background: #006CB8;

}

.price-list-holder.premium::before {
	color: #FFF;
	background-color: #006CB8;
}

.work-commercial-projects {
	background: #FFF;
	border-radius: 10px;
	margin: 140px 0 0;
	padding: 61px 40px;
}

.work-commercial-projects .page-center {
	align-items: center;
	justify-content: space-between;
}

.projects-left {
	max-width: 440px;
	width: 100%;
	margin: 0 0 0 36px;
}

.projects-left span {
	font-size: 22px;
	font-weight: 500;
	color: #6F7CB2;
	display: block;
}

.projects-left p {
	font-size: 36px;
	font-weight: 500;
	line-height: 48px;
	color: #091133;
	margin-top: 10px;
	display: block;
}

.projects-right {
	max-width: 445px;
	width: 100%;
	margin-right: 42px;
}

.input-holder {
	width: 100%;
	border: 1px solid #3E9FE3;
	border-radius: 8px;
	padding: 7px 7px 7px 24px;
}

.input-holder input[type="text"] {
	font-family: 'Roboto';
	font-size: 14px;
	color: #777777;
	width: 100%;
	padding: 14px 0 15px;
	border: none;
}

.input-holder input[type="submit"] {
	font-size: 15px;
	font-weight: 600;
	color: #FFF;
	max-width: 165px;
	width: 100%;
	background: #3E9FE3;
	border-radius: 4px;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}


.main-footer {
	background: linear-gradient(327.15deg, rgba(0, 117, 200, 0.8) 19.99%, rgba(62, 159, 227, 0.8) 79.57%);
	border-radius: 30px 30px 0px 0px;
	margin: 156px auto 0;
	padding: 95px 0 0;
	justify-content: space-between;
}

.main-footer .page-center, .main-footer .footer-left {
	justify-content: space-between;
} 

.footer-left {
	max-width: 708px;
	width: 100%;
}


.footer-links:not(:last-child) {
	margin-right: 20px;
}

.footer-left h3 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 26px;
}

.footer-left ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-left li {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
}

.footer-left li a {
	color: #FFF;
}

.footer-right {
	max-width: 330px;
	width: 100%;
}

.footer-right h3 {
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 23px;
}

.footer-right label {
	font-size: 18px;
	font-weight: 700;
	color: #FFF;
	margin: 0 0 14px;
	display: block;
}

.footer-subscription .input-holder {
	background: #FFF;
	padding: 3px 3px 3px 25px;
}

.footer-subscription .input-holder input[type="text"] {
	padding: 15px 0 16px;
}


.footer-subscription .input-holder input[type="submit"] {
	font-weight: 400;
	max-width: 117px;
}

.footer-subscription span {
	font-size: 14px;
	font-weight: 400;
	color: #FFF;
	margin: 15px 0 0;
	display: block;
}

@media screen and (min-width: 1140px){
	#container {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
	}
}